In [8]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [9]:
d=[121,2323,23,24,32,221]
i=['a','b','c','d','e','f']

In [10]:
pd.Series(d,i)

a     121
b    2323
c      23
d      24
e      32
f     221
dtype: int64

In [11]:
pd.Series(d)

0     121
1    2323
2      23
3      24
4      32
5     221
dtype: int64

In [12]:
pd.Series(d,index=['a','b','c','d','e','f'])

a     121
b    2323
c      23
d      24
e      32
f     221
dtype: int64

In [13]:
pd.DataFrame(d,index=['a','b','c','d','e','f'])

      0
a   121
b  2323
c    23
d    24
e    32
f   221

In [14]:
df=pd.read_csv('nkm.csv')

In [15]:
df

,model_name,model_year,kms_driven,owner,location,mileage,power,price
0,Bajaj Avenger Cruise 220 2017,2017,17000 Km,first owner,hyderabad,\n\n 35 kmpl,19 bhp,63500
1,Royal Enfield Classic 350cc 2016,2016,50000 Km,first owner,hyderabad,\n\n 35 kmpl,19.80 bhp,115000
2,Hyosung GT250R 2012,2012,14795 Km,first owner,hyderabad,\n\n 30 kmpl,28 bhp,300000
3,Bajaj Dominar 400 ABS 2017,2017,Mileage 28 Kms,first owner,pondicherry,\n\n 28 Kms,34.50 bhp,100000
4,Jawa Perak 330cc 2020,2020,2000 Km,first owner,bangalore,\n\n,30 bhp,197500
...,...,...,...,...,...,...,...,...
7852,Yamaha YZF-R15 150cc 2011,2011,7000 Km,first owner,agra,\n\n 42 kmpl,16 bhp,55000
7853,Bajaj Discover 100cc 2015,2015,Mileage 80 Kmpl,first owner,delhi,\n\n 80 Kmpl,7.7,28000
7854,Bajaj Pulsar 180cc 2016,2016,6407 Km,first owner,bangalore,\n\n 65 kmpl,17 bhp,61740
7855,Bajaj V15 150cc 2016,2016,7524 Km,first owner,bangalore,\n\n 57 kmpl,11.80 bhp,49000
7856,Bajaj Pulsar 220cc 2016,2016,15000 Km,first owner,chennai,\n\n 38 kmpl,21 bhp,65000

In [16]:
df.shape

(7857, 8)

In [17]:
df.index

RangeIndex(start=0, stop=7857, step=1)

In [18]:
df.columns

Index(['model_name', 'model_year', 'kms_driven', 'owner', 'location',
       'mileage', 'power', 'price'],
      dtype='object')

In [19]:
df.info

<bound method DataFrame.info of                             model_name  model_year       kms_driven  \
0        Bajaj Avenger Cruise 220 2017        2017         17000 Km
1     Royal Enfield Classic 350cc 2016        2016         50000 Km
2                  Hyosung GT250R 2012        2012         14795 Km
3           Bajaj Dominar 400 ABS 2017        2017   Mileage 28 Kms
4                Jawa Perak 330cc 2020        2020          2000 Km
...                                ...         ...              ...
7852         Yamaha YZF-R15 150cc 2011        2011          7000 Km
7853         Bajaj Discover 100cc 2015        2015  Mileage 80 Kmpl
7854           Bajaj Pulsar 180cc 2016        2016          6407 Km
7855              Bajaj V15 150cc 2016        2016          7524 Km
7856           Bajaj Pulsar 220cc 2016        2016         15000 Km

            owner     location       mileage      power   price
0     first owner    hyderabad  \n\n 35 kmpl     19 bhp   63500
1     first owner    hyderabad  \n\n 35 kmpl  19.80 bhp  115000
2     first owner    hyderabad  \n\n 30 kmpl     28 bhp  300000
3     first owner  pondicherry   \n\n 28 Kms  34.50 bhp  100000
4     first owner    bangalore         \n\n      30 bhp  197500
...           ...          ...           ...        ...     ...
7852  first owner         agra  \n\n 42 kmpl     16 bhp   55000
7853  first owner        delhi  \n\n 80 Kmpl        7.7   28000
7854  first owner    bangalore  \n\n 65 kmpl     17 bhp   61740
7855  first owner    bangalore  \n\n 57 kmpl  11.80 bhp   49000
7856  first owner      chennai  \n\n 38 kmpl     21 bhp   65000

[7857 rows x 8 columns]>

In [20]:
df.describe

<bound method NDFrame.describe of                             model_name  model_year       kms_driven  \
0        Bajaj Avenger Cruise 220 2017        2017         17000 Km
1     Royal Enfield Classic 350cc 2016        2016         50000 Km
2                  Hyosung GT250R 2012        2012         14795 Km
3           Bajaj Dominar 400 ABS 2017        2017   Mileage 28 Kms
4                Jawa Perak 330cc 2020        2020          2000 Km
...                                ...         ...              ...
7852         Yamaha YZF-R15 150cc 2011        2011          7000 Km
7853         Bajaj Discover 100cc 2015        2015  Mileage 80 Kmpl
7854           Bajaj Pulsar 180cc 2016        2016          6407 Km
7855              Bajaj V15 150cc 2016        2016          7524 Km
7856           Bajaj Pulsar 220cc 2016        2016         15000 Km

            owner     location       mileage      power   price
0     first owner    hyderabad  \n\n 35 kmpl     19 bhp   63500
1     first owner    hyderabad  \n\n 35 kmpl  19.80 bhp  115000
2     first owner    hyderabad  \n\n 30 kmpl     28 bhp  300000
3     first owner  pondicherry   \n\n 28 Kms  34.50 bhp  100000
4     first owner    bangalore         \n\n      30 bhp  197500
...           ...          ...           ...        ...     ...
7852  first owner         agra  \n\n 42 kmpl     16 bhp   55000
7853  first owner        delhi  \n\n 80 Kmpl        7.7   28000
7854  first owner    bangalore  \n\n 65 kmpl     17 bhp   61740
7855  first owner    bangalore  \n\n 57 kmpl  11.80 bhp   49000
7856  first owner      chennai  \n\n 38 kmpl     21 bhp   65000

[7857 rows x 8 columns]>

In [21]:
df.head(2)

,model_name,model_year,kms_driven,owner,location,mileage,power,price
0,Bajaj Avenger Cruise 220 2017,2017,17000 Km,first owner,hyderabad,\n\n 35 kmpl,19 bhp,63500
1,Royal Enfield Classic 350cc 2016,2016,50000 Km,first owner,hyderabad,\n\n 35 kmpl,19.80 bhp,115000

In [22]:
df.head(50)

,model_name,model_year,kms_driven,owner,location,mileage,power,price
0,Bajaj Avenger Cruise 220 2017,2017,17000 Km,first owner,hyderabad,\n\n 35 kmpl,19 bhp,63500
1,Royal Enfield Classic 350cc 2016,2016,50000 Km,first owner,hyderabad,\n\n 35 kmpl,19.80 bhp,115000
2,Hyosung GT250R 2012,2012,14795 Km,first owner,hyderabad,\n\n 30 kmpl,28 bhp,300000
3,Bajaj Dominar 400 ABS 2017,2017,Mileage 28 Kms,first owner,pondicherry,\n\n 28 Kms,34.50 bhp,100000
4,Jawa Perak 330cc 2020,2020,2000 Km,first owner,bangalore,\n\n,30 bhp,197500
5,KTM Duke 200cc 2012,2012,24561 Km,third owner,bangalore,\n\n 35 kmpl,25 bhp,63400
6,Bajaj Pulsar 180cc 2016,2016,19718 Km,first owner,bangalore,\n\n 65 kmpl,17 bhp,55000
7,TVS Apache RTR 200 4V Dual Channel ABS BS6 2020,2020,Mileage 40 Kmpl,first owner,hyderabad,\n\n 40 Kmpl,20.21 bhp,120000
8,KTM Duke 390cc 2018,2018,1350 Km,first owner,jaipur,\n\n 25 kmpl,42.90 bhp,198000
9,Yamaha FZ16 150cc 2014,2014,Mileage 58 Kmpl,first owner,bangalore,\n\n 58 Kmpl,13 bhp,40000
10,Royal Enfield Classic 350cc 2018,2018,25000 Km,first owner,chennai,\n\n 35 kmpl,19.80 bhp,136900
11,Royal Enfield Himalayan 410cc 2016,2016,26240 Km,first owner,ghaziabad,\n\n 32 kmpl,24.50 bhp,112000
12,Royal Enfield Bullet Electra 350cc 2017,2017,18866 Km,first owner,delhi,\n\n 40 kmpl,19.8 Bhp,110000
13,Honda CB Shine 125cc 2018,2018,Mileage 65 Kmpl,first owner,delhi,\n\n 65 Kmpl,10 bhp,50000
14,Royal Enfield Standard 350cc 2019,2019,Mileage 30 Kmpl,first owner,delhi,\n\n 30 Kmpl,18 bhp,131000
15,Bajaj Pulsar NS200 2018,2018,Mileage 42 Kmpl,third owner,delhi,\n\n 42 Kmpl,23.20 bhp,53000
16,Royal Enfield Classic 350cc 2019,2019,12634 Km,first owner,delhi,\n\n 35 kmpl,19.80 bhp,160000
17,Royal Enfield Standard 350cc 2015,2015,Mileage 37 Kmpl,first owner,delhi,\n\n 37 Kmpl,19.80 bhp,121000
18,Royal Enfield Bullet 350cc 2016,2016,13000 Km,first owner,delhi,\n\n 37 kmpl,19.80 bhp,111000
19,Royal Enfield Thunderbird 350cc ABS 2019,2019,28000 Km,first owner,delhi,\n\n 40 kmpl,19.80 bhp,131500
20,Honda CB Unicorn 150cc 2016,2016,Mileage 60 Kmpl,first owner,delhi,\n\n 60 Kmpl,14 bhp,52000
21,Royal Enfield Electra 350cc 2018,2018,23350 Km,first owner,delhi,\n\n 37 kmpl,19 bhp,115000
22,Bajaj Pulsar 150cc 2014,2014,Mileage 65 Kmpl,first owner,delhi,\n\n 65 Kmpl,14.85 bhp,47000
23,Bajaj Avenger Street 220 2016,2016,9551 Km,first owner,delhi,\n\n 53 kmpl,19 bhp,52000
24,Royal Enfield Bullet 350cc 2018,2018,23522 Km,first owner,ludhiana,\n\n 37 kmpl,19.80 bhp,190000
25,Royal Enfield Thunderbird 350cc 2015,2015,25000 Km,first owner,delhi,\n\n 40 kmpl,19.80 bhp,67000
26,Yamaha SZ-RR 150cc 2012,2012,12000 Km,first owner,delhi,\n\n 55 kmpl,12 Bhp,28000
27,Yamaha FZs 150cc 2015,2015,10168 Km,first owner,delhi,\n\n 45 kmpl,13 bhp,44000
28,Royal Enfield Classic 350cc 2018,2018,7000 Km,first owner,delhi,\n\n 35 kmpl,19.80 bhp,141500
29,Royal Enfield Classic 350cc 2016,2016,12000 Km,first owner,delhi,\n\n 35 kmpl,19.80 bhp,110000
30,Bajaj Pulsar NS200 ABS 2020,2020,Mileage 42 Kmpl,first owner,delhi,\n\n 42 Kmpl,23.20 bhp,118000
31,Bajaj Pulsar 220F 2016,2016,26683 Km,first owner,delhi,\n\n 38 kmpl,21 bhp,65000
32,UM Renegade Commando Mojave 2018,2018,6900 Km,first owner,bangalore,\n\n 35 kmpl,24.80 bhp,148000
33,Hero Achiever 150cc 2019,2019,15000 Km,first owner,jaunpur,\n\n 45-55,13 bhp,48000
34,Yamaha FZ S V 2.0 150cc 2017,2017,Mileage 58 Kmpl,first owner,mumbai,\n\n 58 Kmpl,13 bhp,47475
35,Honda CBR 250R 2011,2011,30202 Km,second owner,mumbai,\n\n 29 kmpl,26.15 bhp,58000
36,Hero Glamour Disc 125cc 2019,2019,50000 Km,first owner,chittorgarh,\n\n 55 kmpl,8.90 bhp,63000
37,Bajaj Pulsar 150cc 2018,2018,Mileage 65 Kmpl,first owner,chittorgarh,\n\n 65 Kmpl,15 bhp,48000
38,Hero Super Splendor 125cc 2019,2019,40000 Km,first owner,chittorgarh,\n\n 75 kmpl,9 bhp,60000
39,Royal Enfield Classic 350cc 2015,2015,20805 Km,first owner,delhi,\n\n 35 kmpl,19.80 Bhp,95000
40,Bajaj Discover 110cc 2019,2019,45000 Km,first owner,chittorgarh,\n\n,8.60 bhp,46000
41,Bajaj Pulsar 220F 2016,2016,28200 Km,first owner,bangalore,\n\n 38 kmpl,21 bhp,58000
42,Royal Enfield Classic 350cc 2011,2011,50000 Km,first owner,thalassery,\n\n 35 kmpl,19.80 Bhp,70000
43,Bajaj Avenger Street 220 2016,2016,14000 Km,first owner,hyderabad,\n\n 53 kmpl,19 bhp,55000
44,Bajaj Pulsar 220cc 2015,2015,55000 Km,first owner,chittorgarh,\n\n 38 kmpl,21 bhp,45000
45,Bajaj Pulsar 180cc 2018,2018,30000 Km,first owner,delhi,\n\n 65 kmpl,17 bhp,62000
46,Royal Enfield Bullet 350cc 2018,2018,1650 Km,first owner,bathinda,\n\n 37 kmpl,19.80 bhp,140000
47,Hero Ignitor 125cc 2014,2014,45000 Km,first owner,hyderabad,\n\n 55 kmpl,11 bhp,30000
48,Honda CB Shine 125cc CBS 2019,2019,Mileage 65 Kmpl,first owner,gurgaon,\n\n 65 Kmpl,10 bhp,51000
49,Hero Karizma R 223cc 2009,2009,33000 Km,first owner,delhi,\n\n 40 kmpl,17 bhp,18000

In [23]:
df.tail(10)

,model_name,model_year,kms_driven,owner,location,mileage,power,price
7847,Royal Enfield Classic 350cc 2016,2016,23000 Km,first owner,delhi,\n\n 35 kmpl,19.80 bhp,120000
7848,Hero Splendor 100cc 2001,2001,32000 Km,first owner,bharuch,\n\n 45 kmpl,7.44bhp,18500
7849,Hero Karizma ZMR 223cc 2011,2011,66780 Km,first owner,alipore,\n\n 48 kmpl,20 bhp,39899
7850,TVS Apache RTR 160 4V Carburetor With Rear Dis...,2018,16510 Km,first owner,ahmedabad,\n\n,16.10 bhp,60000
7851,Bajaj Pulsar RS200 ABS 2015,2015,Mileage 35 Kmpl,first owner,sidlaghatta,\n\n 35 Kmpl,24.16 bhp,80000
7852,Yamaha YZF-R15 150cc 2011,2011,7000 Km,first owner,agra,\n\n 42 kmpl,16 bhp,55000
7853,Bajaj Discover 100cc 2015,2015,Mileage 80 Kmpl,first owner,delhi,\n\n 80 Kmpl,7.7,28000
7854,Bajaj Pulsar 180cc 2016,2016,6407 Km,first owner,bangalore,\n\n 65 kmpl,17 bhp,61740
7855,Bajaj V15 150cc 2016,2016,7524 Km,first owner,bangalore,\n\n 57 kmpl,11.80 bhp,49000
7856,Bajaj Pulsar 220cc 2016,2016,15000 Km,first owner,chennai,\n\n 38 kmpl,21 bhp,65000

In [24]:
df.count()

model_name    7857
model_year    7857
kms_driven    7857
owner         7857
location      7838
mileage       7846
power         7826
price         7857
dtype: int64

In [25]:
df.sum(axis=1)

C:\Users\Nkmanithia\AppData\Local\Temp\ipykernel_292\1459321664.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum(axis=1)

0        65517
1       117016
2       302012
3       102017
4       199520
         ...
7852     57011
7853     30015
7854     63756
7855     51016
7856     67016
Length: 7857, dtype: int64

In [26]:
df.min()

C:\Users\Nkmanithia\AppData\Local\Temp\ipykernel_292\3962516015.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.min()

model_name     Bajaj CT100 B 2016                           ...
model_year                                                 1950
kms_driven                                                 0 Km
owner                                               first owner
price                                                         0
dtype: object

In [27]:
df.max()

C:\Users\Nkmanithia\AppData\Local\Temp\ipykernel_292\1151452817.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.max()

model_name    yamaha Libero 110cc 2006
model_year                        2021
kms_driven                      Yes Km
owner                      third owner
price                          3000000
dtype: object

In [28]:
df.max()['price']

C:\Users\Nkmanithia\AppData\Local\Temp\ipykernel_292\4190625019.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.max()['price']

3000000

In [29]:
df.price.max()

3000000

In [30]:
df.model_year.max()           #df.id.max()

2021

In [31]:
new=df.sort_values('price',ascending=False)

In [32]:
b=new.head(10)

In [33]:
a=new.tail(10)

In [34]:
pd.concat([a,b],axis=0)

,model_name,model_year,kms_driven,owner,location,mileage,power,price
6780,Hyosung GT250R 2013,2013,5000 Km,first owner,delhi,\n\n 30 kmpl,28 bhp,0
7697,Yamaha YZF-R15 150cc 2011,2011,21200 Km,first owner,delhi,\n\n 42 kmpl,16 bhp,0
7649,Hero Karizma 223 cc 2008,2008,22000 Km,first owner,delhi,\n\n,14.9 kW (20 BHP),0
6795,Royal Enfield Classic 500cc 2014,2014,10200 Km,first owner,bangalore,\n\n 32 kmpl,27.20 bhp,0
6200,Hero Passion Xpro 110cc 2015,2015,9000 Km,first owner,jaipur,\n\n 55 kmpl,6.72 KW (9.1 Ps),0
7802,TVS Apache RTR 160cc 2011,2011,Mileage 60 Kmpl,first owner,chennai,\n\n 60 Kmpl,15.2 bhp,0
7810,Hero Splendor 100cc 1996,1996,30000 Km,first owner,silvasa,\n\n 45 kmpl,7.44bhp,0
7811,Hero Passion 100cc 2005,2005,35000 Km,first owner,silvasa,\n\n 55 kmpl,7.5 Bhp,0
4786,Bajaj Pulsar 180cc 2009,2009,60000 Km,second owner,delhi,\n\n 45 kmpl,17 bhp,0
7667,Bajaj Discover 125ST 2013,2013,13299 Km,first owner,ludhiana,\n\n 65 kmpl,12.5 ps,0
2133,Honda CB300R 2021,2021,500 Km,first owner,bangalore,\n\n,30 bhp,3000000
4757,Indian Chief Classic 1800cc 2015,2015,Mileage 14 Kmpl,first owner,chennai,\n\n 14 Kmpl,"100-110 BHP (Approx., not officially announced)",1900000
6778,Triumph Rocket III Roadster 2016,2016,23000 Km,first owner,pune,\n\n 17 kmpl,146 bhp,1900000
3252,Moto Guzzi Audace 1380cc 2020,2020,900 Km,first owner,pune,\n\n 12 kmpl,94.68 bhp,1866057
5401,Ducati XDiavel 1262CC S 2017,2017,7000 Km,first owner,alibag,\n\n 19 kmpl,153.80 bhp,1500000
5951,MV Agusta F3 800cc 2018,2018,2000 Km,first owner,hubli,\n\n 15 kmpl,145.90 bhp,1500000
5586,BMW S 1000 XR Pro 2017,2017,18000 Km,first owner,delhi,\n\n,159.80 bhp,1500000
5067,Harley-Davidson Night Rod Special 2015,2015,10800 Km,second owner,mumbai,\n\n 18 kmpl,115 bhp,1500000
2257,Honda CBR1000RR Fireblade SP 2019,2019,1590 Km,first owner,delhi,\n\n 16 kmpl,186.30 bhp,1490000
5487,Ducati Panigale 959 2019,2019,1300 Km,first owner,delhi,\n\n 17 kmpl,154.85 bhp,1475000

In [35]:
a.append(b)

C:\Users\Nkmanithia\AppData\Local\Temp\ipykernel_292\2735396570.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a.append(b)

,model_name,model_year,kms_driven,owner,location,mileage,power,price
6780,Hyosung GT250R 2013,2013,5000 Km,first owner,delhi,\n\n 30 kmpl,28 bhp,0
7697,Yamaha YZF-R15 150cc 2011,2011,21200 Km,first owner,delhi,\n\n 42 kmpl,16 bhp,0
7649,Hero Karizma 223 cc 2008,2008,22000 Km,first owner,delhi,\n\n,14.9 kW (20 BHP),0
6795,Royal Enfield Classic 500cc 2014,2014,10200 Km,first owner,bangalore,\n\n 32 kmpl,27.20 bhp,0
6200,Hero Passion Xpro 110cc 2015,2015,9000 Km,first owner,jaipur,\n\n 55 kmpl,6.72 KW (9.1 Ps),0
7802,TVS Apache RTR 160cc 2011,2011,Mileage 60 Kmpl,first owner,chennai,\n\n 60 Kmpl,15.2 bhp,0
7810,Hero Splendor 100cc 1996,1996,30000 Km,first owner,silvasa,\n\n 45 kmpl,7.44bhp,0
7811,Hero Passion 100cc 2005,2005,35000 Km,first owner,silvasa,\n\n 55 kmpl,7.5 Bhp,0
4786,Bajaj Pulsar 180cc 2009,2009,60000 Km,second owner,delhi,\n\n 45 kmpl,17 bhp,0
7667,Bajaj Discover 125ST 2013,2013,13299 Km,first owner,ludhiana,\n\n 65 kmpl,12.5 ps,0
2133,Honda CB300R 2021,2021,500 Km,first owner,bangalore,\n\n,30 bhp,3000000
4757,Indian Chief Classic 1800cc 2015,2015,Mileage 14 Kmpl,first owner,chennai,\n\n 14 Kmpl,"100-110 BHP (Approx., not officially announced)",1900000
6778,Triumph Rocket III Roadster 2016,2016,23000 Km,first owner,pune,\n\n 17 kmpl,146 bhp,1900000
3252,Moto Guzzi Audace 1380cc 2020,2020,900 Km,first owner,pune,\n\n 12 kmpl,94.68 bhp,1866057
5401,Ducati XDiavel 1262CC S 2017,2017,7000 Km,first owner,alibag,\n\n 19 kmpl,153.80 bhp,1500000
5951,MV Agusta F3 800cc 2018,2018,2000 Km,first owner,hubli,\n\n 15 kmpl,145.90 bhp,1500000
5586,BMW S 1000 XR Pro 2017,2017,18000 Km,first owner,delhi,\n\n,159.80 bhp,1500000
5067,Harley-Davidson Night Rod Special 2015,2015,10800 Km,second owner,mumbai,\n\n 18 kmpl,115 bhp,1500000
2257,Honda CBR1000RR Fireblade SP 2019,2019,1590 Km,first owner,delhi,\n\n 16 kmpl,186.30 bhp,1490000
5487,Ducati Panigale 959 2019,2019,1300 Km,first owner,delhi,\n\n 17 kmpl,154.85 bhp,1475000

In [36]:
a,b

(                            model_name  model_year       kms_driven  \
 6780               Hyosung GT250R 2013        2013          5000 Km
 7697         Yamaha YZF-R15 150cc 2011        2011         21200 Km
 7649          Hero Karizma 223 cc 2008        2008         22000 Km
 6795  Royal Enfield Classic 500cc 2014        2014         10200 Km
 6200      Hero Passion Xpro 110cc 2015        2015          9000 Km
 7802         TVS Apache RTR 160cc 2011        2011  Mileage 60 Kmpl
 7810          Hero Splendor 100cc 1996        1996         30000 Km
 7811          Hero Passion 100cc  2005        2005         35000 Km
 4786          Bajaj  Pulsar 180cc 2009        2009         60000 Km
 7667         Bajaj Discover 125ST 2013        2013         13299 Km

              owner   location       mileage             power  price
 6780   first owner      delhi  \n\n 30 kmpl            28 bhp      0
 7697   first owner      delhi  \n\n 42 kmpl            16 bhp      0
 7649   first owner      delhi         \n\n   14.9 kW (20 BHP)      0
 6795   first owner  bangalore  \n\n 32 kmpl         27.20 bhp      0
 6200   first owner     jaipur  \n\n 55 kmpl  6.72 KW (9.1 Ps)      0
 7802   first owner    chennai  \n\n 60 Kmpl          15.2 bhp      0
 7810   first owner    silvasa  \n\n 45 kmpl           7.44bhp      0
 7811   first owner    silvasa  \n\n 55 kmpl           7.5 Bhp      0
 4786  second owner      delhi  \n\n 45 kmpl            17 bhp      0
 7667   first owner   ludhiana  \n\n 65 kmpl           12.5 ps      0  ,
                                   model_name  model_year       kms_driven  \
 2133                       Honda CB300R 2021        2021           500 Km
 4757        Indian Chief Classic 1800cc 2015        2015  Mileage 14 Kmpl
 6778        Triumph Rocket III Roadster 2016        2016         23000 Km
 3252           Moto Guzzi Audace 1380cc 2020        2020           900 Km
 5401            Ducati XDiavel 1262CC S 2017        2017          7000 Km
 5951                 MV Agusta F3 800cc 2018        2018          2000 Km
 5586                  BMW S 1000 XR Pro 2017        2017         18000 Km
 5067  Harley-Davidson Night Rod Special 2015        2015         10800 Km
 2257       Honda CBR1000RR Fireblade SP 2019        2019          1590 Km
 5487                Ducati Panigale 959 2019        2019          1300 Km

              owner   location       mileage  \
 2133   first owner  bangalore         \n\n
 4757   first owner    chennai  \n\n 14 Kmpl
 6778   first owner       pune  \n\n 17 kmpl
 3252   first owner       pune  \n\n 12 kmpl
 5401   first owner     alibag  \n\n 19 kmpl
 5951   first owner      hubli  \n\n 15 kmpl
 5586   first owner      delhi         \n\n
 5067  second owner     mumbai  \n\n 18 kmpl
 2257   first owner      delhi  \n\n 16 kmpl
 5487   first owner      delhi  \n\n 17 kmpl

                                                 power    price
 2133                                           30 bhp  3000000
 4757  100-110 BHP (Approx., not officially announced)  1900000
 6778                                          146 bhp  1900000
 3252                                        94.68 bhp  1866057
 5401                                       153.80 bhp  1500000
 5951                                       145.90 bhp  1500000
 5586                                       159.80 bhp  1500000
 5067                                          115 bhp  1500000
 2257                                       186.30 bhp  1490000
 5487                                       154.85 bhp  1475000  )

In [44]:
c=b.replace("first owner","1st owner")
c

,model_name,model_year,kms_driven,owner,location,mileage,power,price
2133,Honda CB300R 2021,2021,500 Km,1st owner,bangalore,\n\n,30 bhp,3000000
4757,Indian Chief Classic 1800cc 2015,2015,Mileage 14 Kmpl,1st owner,chennai,\n\n 14 Kmpl,"100-110 BHP (Approx., not officially announced)",1900000
6778,Triumph Rocket III Roadster 2016,2016,23000 Km,1st owner,pune,\n\n 17 kmpl,146 bhp,1900000
3252,Moto Guzzi Audace 1380cc 2020,2020,900 Km,1st owner,pune,\n\n 12 kmpl,94.68 bhp,1866057
5401,Ducati XDiavel 1262CC S 2017,2017,7000 Km,1st owner,alibag,\n\n 19 kmpl,153.80 bhp,1500000
5951,MV Agusta F3 800cc 2018,2018,2000 Km,1st owner,hubli,\n\n 15 kmpl,145.90 bhp,1500000
5586,BMW S 1000 XR Pro 2017,2017,18000 Km,1st owner,delhi,\n\n,159.80 bhp,1500000
5067,Harley-Davidson Night Rod Special 2015,2015,10800 Km,second owner,mumbai,\n\n 18 kmpl,115 bhp,1500000
2257,Honda CBR1000RR Fireblade SP 2019,2019,1590 Km,1st owner,delhi,\n\n 16 kmpl,186.30 bhp,1490000
5487,Ducati Panigale 959 2019,2019,1300 Km,1st owner,delhi,\n\n 17 kmpl,154.85 bhp,1475000

In [38]:
a

,model_name,model_year,kms_driven,owner,location,mileage,power,price
6780,Hyosung GT250R 2013,2013,5000 Km,first owner,delhi,\n\n 30 kmpl,28 bhp,0
7697,Yamaha YZF-R15 150cc 2011,2011,21200 Km,first owner,delhi,\n\n 42 kmpl,16 bhp,0
7649,Hero Karizma 223 cc 2008,2008,22000 Km,first owner,delhi,\n\n,14.9 kW (20 BHP),0
6795,Royal Enfield Classic 500cc 2014,2014,10200 Km,first owner,bangalore,\n\n 32 kmpl,27.20 bhp,0
6200,Hero Passion Xpro 110cc 2015,2015,9000 Km,first owner,jaipur,\n\n 55 kmpl,6.72 KW (9.1 Ps),0
7802,TVS Apache RTR 160cc 2011,2011,Mileage 60 Kmpl,first owner,chennai,\n\n 60 Kmpl,15.2 bhp,0
7810,Hero Splendor 100cc 1996,1996,30000 Km,first owner,silvasa,\n\n 45 kmpl,7.44bhp,0
7811,Hero Passion 100cc 2005,2005,35000 Km,first owner,silvasa,\n\n 55 kmpl,7.5 Bhp,0
4786,Bajaj Pulsar 180cc 2009,2009,60000 Km,second owner,delhi,\n\n 45 kmpl,17 bhp,0
7667,Bajaj Discover 125ST 2013,2013,13299 Km,first owner,ludhiana,\n\n 65 kmpl,12.5 ps,0