In [3]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [4]:
t_df=pd.read_csv(r"E:\Datasets\Titanic-Dataset.csv")

In [5]:
t_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
print(t_df.shape)

(891, 12)

In [5]:
t_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
t_df.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [7]:
t_df=t_df.drop('Cabin', axis=1)

In [8]:
t_df.Embarked[t_df.Embarked.isnull()] = t_df.Embarked.mode()

C:\Users\Nkmanithia\AppData\Local\Temp\ipykernel_5684\1782709375.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t_df.Embarked[t_df.Embarked.isnull()] = t_df.Embarked.mode()

In [9]:
t_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [10]:
t_df.Age[t_df.Age.isnull()] = t_df.Age.mean()

C:\Users\Nkmanithia\AppData\Local\Temp\ipykernel_5684\2873568215.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t_df.Age[t_df.Age.isnull()] = t_df.Age.mean()

In [11]:
t_df.dropna(inplace=True)
t_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 83.3+ KB

In [12]:
t_df["gender"]=pd.get_dummies(t_df.Sex,drop_first=True)

In [13]:
t_df["Embarked"].unique()

array(['S', 'C', 'Q'], dtype=object)

In [14]:
t_df["Embarked"]=t_df["Embarked"].map({"S":0,"C":1,'Q':2})

In [15]:
t_df=t_df.drop(['Sex','Name','Ticket'],axis=1)

In [16]:
t_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,gender
count,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000
mean,446.000000,0.382452,2.311586,29.653446,0.524184,0.382452,32.096681,0.362205,0.649044
std,256.998173,0.486260,0.834700,12.968366,1.103705,0.806761,49.697504,0.636157,0.477538
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,224.000000,0.000000,2.000000,22.000000,0.000000,0.000000,7.895800,0.000000,0.000000
50%,446.000000,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200,0.000000,1.000000
75%,668.000000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000,1.000000,1.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,2.000000,1.000000

In [17]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(t_df.iloc[:,2:9],t_df.Survived,test_size=0.2)

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
train_x

     Pclass        Age  SibSp  Parch      Fare  Embarked  gender
143       3  19.000000      0      0    6.7500         2       1
819       3  10.000000      3      2   27.9000         0       1
622       3  20.000000      1      1   15.7417         1       1
756       3  28.000000      0      0    7.7958         0       1
716       1  38.000000      0      0  227.5250         1       0
..      ...        ...    ...    ...       ...       ...     ...
761       3  41.000000      0      0    7.1250         0       1
589       3  29.699118      0      0    8.0500         0       1
847       3  35.000000      0      0    7.8958         1       1
131       3  20.000000      0      0    7.0500         0       1
834       3  18.000000      0      0    8.3000         0       1

[711 rows x 7 columns]

In [20]:
lr=LogisticRegression()
lr.fit(train_x,train_y)

LogisticRegression()

In [21]:
y_pred=lr.predict(test_x)

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
accuracy_score(test_y, y_pred)

0.7808988764044944